@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$colorBody: beige;
$colorGris: #888888;
$colorClaro: aliceblue;
$rojo:#c53240;
$azul: #3498db;
$amarillo: darkgoldenrod;
$blanco:white;

@mixin mixin_cartas($height,$width,$background){
    background-color: $background;
    height: $height;
    width: $width;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style:none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: $colorBody;
}

@import "Index";

@import "Inicio";

@import "Contactos";

@import "AcercaNosotros";

@import "Planes";


@media only screen and (max-width:1200px){
    .form-img{
        display: none;
    }

    .form{
        width: 100%;
    }

}

@media only screen and (max-width:450px){
    .sectionFrom {
        width: 100%;
    }
    .contenedorFrom{
        box-shadow: none;
    }

}
